body{
	position: absolute;
	background-color: #ffdfcc;
	left: 200px;
	width: 1120px;
}
.header{
	width: 1120px;
	height: 127px;
	align-content: center;
	background-color: rgb(155, 118, 118);
	border: 1px black;
	top: -10px;
	position: absolute;
}
.logo{
	position: absolute;
	left: 50px;
	top: 10px;
}
.topnav{
	align-content: center;
	overflow: hidden;
	height: 150px;
}
.topnav a {
	font-size: 15px;
	float: right;
	color: black;
	text-align: center;
	padding: 10px ;
	margin: 30px;
	text-decoration:none;
	font-family: cursive;
}
.topnav a:hover{
	color: rgb(255, 161, 47);
}
.footer{
    width: 1120px;
	height: 130px;
	align-content: center;
	top: 1350px;
	background-color: rgb(155, 118, 118);
	border: 1px black;
	position: absolute;
	left: -2px;
}
.footerlogo{
	position: absolute;
	left: 995px;
	top: 5px;
}
.link{
	position: absolute;
	left: 450px;
	top:50px;
}
.Copyright{
	position: absolute;
	left: 350px;
	top:70px;
}
.table{
	position: absolute;
	top: 130px;
	left: 100px;
	font-family: 'Dosis', sans-serif;
	background-color: Gainsboro;
	width: 900px;
    height: 2500;
}
.Insidetable{
	left: 40px;
	bottom: 20px;
	position: relative;
}
.table1{
	position: absolute;
	top: 430px;
	left: 100px;
	font-family: 'Dosis', sans-serif;
	background-color: Gainsboro;
	width: 900px;
    height: 2500;
}
.Insidetable1{
	left: 40px;
	bottom: 20px;
	position: relative;
}
.table2{
	position: absolute;
	top: 830px;
	left: 100px;
	font-family: 'Dosis', sans-serif;
	background-color: Gainsboro;
	width: 900px;
    height: 2500;
}
.Insidetable2{
	left: 40px;
	bottom: 10px;
	position: relative;
}
.blank{
	position: absolute;
	top: 1290px;
	left: 440px;
	font-size: 20px;
}
